# Author: Kota Miura

Plugins>CMCI-Bory, "Set Parameters", ParamSetter_
Plugins>CMCI-Bory, "PreProcess Chromosome Stack", Preprocess_ChromosomeDots
Plugins>CMCI-Bory, "Do Segmentation & Measurements", AutoThresholdAdjuster3D_
Plugins>CMCI-Bory>Test, "Segmentation by Trained Data .aiff",DotSegmentBy_Trained
Plugins>CMCI-Bory>Test, "Segmentation by particletracker3D",ParticleDetection_3D
Plugins>Segmentation, "Trainable Segmentation",trainableSegmentation.Trainable_Segmentation