# Author: Kota Miura

Plugins>CMCI-Bory>PreProcess, "Set FFT Parameters", ParamSetterFFT
Plugins>CMCI-Bory>PreProcess, "PreProcess ChromosomeDots", Preprocess_ChromosomeDots("")
Plugins>CMCI-Bory, "Set DotSeg Parameters", ParamSetter_
Plugins>CMCI-Bory, "Do Segmentation & Measurements", AutoThresholdAdjuster3D_
Plugins>CMCI-Bory>Test, "Set Parameters for 3D particle tracker",ParamSetter_Particle3D
Plugins>CMCI-Bory>Test, "Segmentation by Trained Data .aiff",DotSegmentBy_Trained
Plugins>CMCI-Bory>Test, "Segmentation by particletracker3D",ParticleDetection_3D
Plugins>Segmentation, "Local Trainable Segmentation",trainableSegmentation.Trainable_Segmentation