# Author: Kota Miura

# Plugins>CMCI-Bory>PreProcess, "Set FFT Parameters", ParamSetterFFT
Plugins>EMBLtools>Bory>PreProcess, "Set FFT Parameters", Preprocess_ChromosomeDots("FFTparaSetter")
Plugins>EMBLtools>Bory>PreProcess, "PreProcess ChromosomeDots", Preprocess_ChromosomeDots("")
Plugins>EMBLtools>Bory, "Set DotSeg Parameters", ParamSetter_
Plugins>EMBLtools>Bory, "Do Segmentation & Measurements", AutoThresholdAdjuster3D_
Plugins>Segmentation, "Local Trainable Segmentation",trainableSegmentation.Trainable_Segmentation
